body {
  height: 100%;
  font-size: 20px;
  padding: 0;
  margin: 0;
  background: #dceed8;
}
section {
  padding: 20px;
  border: 0;
  margin: 0 100px;
}
h1 {
  text-align: center;
  font-size: 60px;
}
.contact {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  margin-top: 20px;
}
.content {
  text-align: left;
}
p {
  margin-left: 20px;
}
.avatar {
  display: block;
  width: 250px;
  height: 200px;
  border-radius: 30%;
  margin: auto;
}
