body {
  height: 100%;
  font-size: 20px;
  padding: 0;
  margin: 0;
  background: darkseagreen;
}
main {
  padding: 20px;
  border: 0;
  margin: 0 10%;
  background: #dceed8;
}
h1 {
  text-align: center;
  font-size: 60px;
}
.contact {
  font-style: italic;
  font-weight: bold;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  background: darkgrey;
}
.content {
  text-align: left;
}
p {
  margin-left: 20px;
}
.avatar {
  display: block;
  width: 250px;
  height: 200px;
  border-radius: 30%;
  margin: auto;
}
footer {
  text-align: center;
  background: darkgrey;
}
pre {
  overflow: hidden;
  font-size: 1.5vh;
  margin-left: 100px;
  background: gainsboro;
}
